@media screen and (width <= 600px) {
    body {
        background-color: var(--main-bg);
        min-height: 100vh;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 20em 1fr auto;



    }

.logo {
 
}
.logo-resize {
    width: 15rem;
    height: 14rem;

}

header {
   padding: 3em;
   height: 20rem;
   background-color: var(--headfoot-bg);
    display: flex;
    justify-content: flex-end;
    background-image: url(/img/SquareEyes-logos_white.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
}
.logo {
  
    width: 100%;
    display: flex;
    align-items: center;
    
}
nav {
 
}

main {
    min-height: 100vh;
}
.hamburger-menu {
    z-index: 999;
    height: 5em;
    cursor: pointer;
    width: 5em;
    position: relative;
    margin-top: 4rem;
}
.ham-bar {
    width: 70%;
    height: 0.4em;
    background-color: white;
    border-radius: 2.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: transform .6s, opacity .8s, top .6s;
}


.bar-top {
    top: 25%;
}
.bar-bottom {
    top: 75%;
}
.hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

.hamburger-menu.active .bar-mid {
    opacity: 0;
}

.hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}


.off-screen-menu {
    position: fixed;
    top: 0;
    right: -75%;
    background-color: rgb(17, 35, 125);
    z-index: 998;
    height: 100vh;
    width: 75%;
    
    transition: right .5s;

}


.off-screen-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 70%;
}
.off-screen-menu li a {
    font-size: 2rem;
    color: inherit;
   
}

.off-screen-menu a {
    text-decoration: none;
    
}



.off-screen-menu.active {
    right: 0;
    width: 100%;
    
    
} 


/* Main */
.movie-wrapper__grid {
display: grid;
grid-template-columns: minmax(20%, 40%) minmax(20%, 40%);
grid-template-rows:minmax(15rem, 30rem);
justify-content: center;
gap: 1rem;
margin-top: 2rem;
background-color: rgba(0, 0, 0, 0.345);
padding: 2rem;
}



/*Bottom section of card*/



/*slider*/

/*slider*/




/* Main */

/*Carousel*/

/*carousel*/

.movie-card-1, .movie-card-2 {
    display: grid;
    grid-template-columns: minmax(50%, 100%);
    grid-template-rows: auto;
}
.card {
position: relative;
overflow: hidden;


}
.card__image {
    background-repeat: no-repeat 50% / cover;
    background-position: top;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
}
.card__image--1 {
    background-image: url(/img/ohdq95vuq5la1.webp);
  
}
.card__image--2 {
  background-image: url(/img/puss_in_boots_the_last_wish_ver2.jpg);
  
}
.card__text-container {
    color: white;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
text-align: center;
    position: relative;
    opacity: 0;
  background-color: rgba(18, 18, 13, 0.685);
    height: 100%;
    transition: 1s;
}

.card__header {
    font-size: clamp(1.5, 2.5vw, 3rem);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 1rem;
}

.card-body {
    font-size: clamp(1.5, 2.5vw, 3rem);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
}


.card:hover .card__image {
    transform: scale(1.5) ;
}
.card:hover .card__text-container {
opacity: 1;
}


}